/******************** General Styles **********************/
html {
    font-size: 18px;
}

body {
    font-size: 1em;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url("../img/bg-pattern-top.svg"), url("../img/bg-pattern-bottom.svg");
    background-position: 130% 200%, -25% -120% ;
    background-repeat: no-repeat, no-repeat;
}

section {
    background-color: white;
    width: 325px;
    margin: 0 auto;
    border-radius: 10px;

}
.header-image {
    background: url("../img/bg-pattern-card.svg") no-repeat;
    background-size: cover;
    width: 325px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-pic {
    border: 5px solid white;
    border-radius: 50px;
    position: relative;
    top: 100px;
    left: 113px;
}

.bio {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 15px;
}

span {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}
hr {
    border-top: hsla(0, 0%, 59%, .4) solid 1px;
}

.analytics {
    text-align: center;
    padding: 15px;
}
.analytics p {
    font-size: .75rem;
}

h3 {
    padding: 0;
    color: hsl(229, 23%, 23%);
    margin: 0;
}

p {
    padding: 5px;
    margin: 0;
    color: hsl(227, 10%, 46%);
    font-size: .75rem;

}

.attribution {
    font-size: .75rem; 
    text-align: center; 
    padding: 10px;
    text-align: center;
}

.attribution a { 
    color: white;
 }

/******************** Mobile Styles **********************/

.analytics {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
body {
    margin: 125px auto;
}


/******************** Desktop Styles **********************/
@media screen and (min-width: 1440px) {
    body {
        background-position: -70% 140%, 150% -90% ;
    }
}